
.wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  background: #fd7e14;
  background: #207dff;
  background: -moz-linear-gradient(45deg, #207dff 0%, #00bd55 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #207dff), color-stop(100%, #00bd55));
  background: -webkit-linear-gradient(45deg, #207dff 0%, #00bd55 100%);
  background: -o-linear-gradient(45deg, #207dff 0%, #00bd55 100%);
  background: -ms-linear-gradient(45deg, #207dff 0%, #00bd55 100%);
  background: linear-gradient(45deg, #207dff 0%, #00bd55 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207dff', endColorstr='#00bd55', GradientType=1 ); }
.wrap .phone {
  z-index: 1; }
.wrap .phone span {
  color: #fff; }
.wrap .phone a {
  color: #fff;
  font-size: 12px; }

.social-media {
  display: inline-block; }
.social-media p a {
  width: 40px;
  height: 40px;
  margin-right: 1px; }
.social-media p a span {
  color: #fff; }
.social-media p a:hover {
  background: #fd7e14;
  border-color: #fd7e14; }
.social-media p a:hover span {
  color: #fff; }

.ftco-navbar-light {
  background: #212529 !important;
  padding: 0;
  -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34); }
@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #212529;
    position: relative;
    top: 0;
    padding: 10px 15px; } }
.ftco-navbar-light .navbar-brand {
  color: #fff;
  font-family: Lobster;
  font-weight: 800;
  font-size: 28px;
  line-height: 1;
}
.ftco-navbar-light .navbar-brand span {
  color: #fd7e14; }
.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
  color: #fd7e14; }
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-brand {
    margin: 10px 0; } }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px; } }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  font-family: Audiowide;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 700;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  opacity: 1 !important; }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #fd7e14;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
  z-index: -1; }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #fd7e14; }
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
  visibility: visible;
  background-color: #fd7e14;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .9rem;
    padding-bottom: .9rem; }
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff; } }
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); } }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px; }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #000000; }
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
  background: #fd7e14;
  color: #fff; }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    display: block !important;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; } }
.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: #fff;
  background: #fd7e14;
  border-radius: 0px; }
@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #fff;
    background: #fd7e14;
    border-radius: 4px; } }
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #fd7e14; }
.ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
  visibility: visible;
  background-color: #fd7e14;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }
@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #000000; }
  .ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
    display: none; } }
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: #fff !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em; }
.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important; }
