@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, webJarsUtil: org.webjars.play.WebJarsUtil)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @webJarsUtil.locate("css/bootstrap.min.css").css()
    @webJarsUtil.locate("build/toastr.min.css").css()

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/agency.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/fontawesome-free/css/all.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/navbar.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sevices.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    @webJarsUtil.locate("jquery.js").script()
    @webJarsUtil.locate("popper.js/1.14.3/umd/popper.min.js").script()
    @webJarsUtil.locate("bootstrap.min.js").script()
    @webJarsUtil.locate("knockout.js").script()
    <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")" type="text/javascript"></script>
    @webJarsUtil.locate("toastr.min.js").script()
    @webJarsUtil.locate("bootstrap.bundle.min.js").script()
    <script src="@routes.Assets.versioned("javascripts/agency.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/general.js")" type="text/javascript"></script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
    </body>
</html>
